- title 'About'
%p
  More about me at
  = link_to "Parkerhill Tech site", "http://www.parkerhill.com"
%p
  &nbsp;
%h1 ORIGINS
%h3
  2006-06-06
%p
  [10:49p] baraboom: so youre tryn to put that module call in the page template?<br />
  [10:50p] linoj: default.xt calls the user-main-agree.xt if user hasnt agreed, i&#39;m writing the agree.xt form page now<br />
  [10:52p] linoj: i might just post this in my vaporbase when i&#39;m done<br />
  [10:52p] linoj: (vaporbase is a vaporware database <br />

  [10:52p] baraboom: oh right<br />
  [10:53p] baraboom: well ive updated a crapload of ports<br />
  [10:53p] baraboom: might be time to play soon<br />
  [10:53p] linoj: cool<br />

%h3
  [10:53p] linoj: hehe, vaporbase.com is available!
%h3
  [10:54p] baraboom: lol
%h3
  [10:55p] linoj: maybe i&#39;ll take it, for my blog-to-be
%h3
  [10:55p] baraboom: then it&#39;ll stop bein vapor
%h3
  [10:55p] linoj: yes, what irony
%h3
  [10:57p] baraboom: its perfect
%p
  [10:57p] linoj: lol<br />
  [10:57p] linoj: i&#39;ll paste this conversation as my first entry<br />
  [10:58p] baraboom: lol<br />
  [10:58p] baraboom: deja vu
%p
  &nbsp;
%p
  &nbsp;
%p
  vaporbase is a blogosphere node by Jonathan Linowes 





