- title "Evaluating Web Development Frameworks: Rails and Django"

:markdown
  * Detailed review of Ruby on Rails and Django/Python web frameworks
  * Over 20 criteria discussed and evaluated
  * Use as a road map for your own evaluation 
  * Use as an introduction if you&#39;ve already made a decision or joined a team

  Postings Index
  --------------
  
  [Evaluating Web Development Frameworks: Rails and Django (part 1/15)](postings/Evaluating_Web_Development_Frameworks%3A_Rails_and_Django_%28part_1%2F15%29)
  
  [Rails and Django - Project and Community (part 2/15)](postings/Rails_and_Django_-_Project_and_Community_%28part_2%2F15%29)
  
  [Rails and Django - Programming Language (part 3/15)](postings/Rails_and_Django_-_Programming_Language_%28part_3%2F15%29)
  
  [Rails and Django - Framework Concept (part 4/15)](postings/Rails_and_Django_-_Framework_Concept_%28part_4%2F15%29)
  
  [Rails and Django - Installation / Directory Structure (part 5/15)](postings/Rails_and_Django_-_Installation_/_Directory_Structure_%28part_5%2F15%29)
  
  [Rails and Django - Database and Models (part 6/15)](postings/Rails_and_Django_-_Database_and_Models_%28part_6%2F15%29)

  [Rails and Django - Routing and Controllers (part 7/15)](postings/Rails_and_Django_-_Routing_and_Controllers_%28part_7%2F15%29)

  [Rails and Django - Templates, Forms (part 8/15)](postings/Rails_and_Django_-_Templates%2C_Forms_%28part_8%2F15%29)

  [Rails and Django - Data and User Administration (part 9/15)](postings/Rails_and_Django_-_Data_and_User_Administration_%28part_9%2F15%29)
  
  [Rails and Django - AJAX (part 10/15)](postings/Rails_and_Django_-_AJAX_%28part_10%2F15%29)
  
  [Rails and Django - Other Features (part 11/15)](postings/Rails_and_Django_-_Other_Features_%28part_11%2F15%29)
  
  [Rails and Django - Documentation (part 12/15)](postings/Rails_and_Django_-_Documentation_%28part_12%2F15%29)
  
  [Rails and Django -  User Extensions (part 13/15)](postings/Rails_and_Django_-_User_Extensions_%28part_13%2F15%29)

  [Rails and Django - Development Cycle (part 14/15)](postings/Rails_and_Django_-_Development_Cycle_%28part_14%2F15%29)

  [Rails and Django - Conclusions (part 15/15)](postings/Rails_and_Django_-_Conclusions_%28part_15%2F15%29)
  
  <br/>
  
  Whitepaper Download
  ===================
  
  I've received a number of emails asking for a pdf printable copy of the whitepaper, [Evaluating Web Development Frameworks: Rails and Django](postings/Evaluating_Web_Development_Frameworks%3A_Rails_and_Django_%28part_1%2F15%29) (15 chapters, 45 pages, 378kb)
  
%div(style="border: 1px solid black; margin: 1em 5em; padding: 5px; text-align: center")
  :markdown
    [DOWNLOAD NOW](var/uploads/File/rails-vs-django.pdf)
    