%aside
  %nav
    %ul
      %li= link_to 'HOME', root_path
      - Category.all.map(&:name).each do |category|
        %li= link_to_unless @category==category, category, postings_path(:category => category)
      
  = render 'layouts/search'
  
  = yield(:aside)
